<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>Recognize</title>
    <link
      href="{{ url_for('static', path='/recognize.css?v=1.0.14') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="result">辨識中，請看向鏡頭</div>
    <div id="goRegisterBtn">註冊頁面</div>
    <div id="modeToggleBtn">
      <span>攝影模式</span>
      <label class="switch">
        <input type="checkbox" id="modeToggleInput" />
        <span class="slider round"></span>
      </label>
      <span>圖片上傳</span>
    </div>
    <div class="container">
      <!-- 上傳圖片模式 -->
      <input
        type="file"
        id="fileInput"
        accept="image/*"
        style="display: none"
      />
      <button id="customFileBtn">選擇圖片</button>
    </div>
    <video id="video" autoplay muted playsinline></video>
    <canvas id="canvas"></canvas>
    <div id="camera-preview">
      <canvas id="preview"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/selfie_segmentation.js"></script>
    <script src="{{ url_for('static', path='/recognize.js?v=1.0.67') }}"></script>
  </body>
</html>
