<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link
      href="{{ url_for('static', path='/register.css?v=1.0.7') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="goRecognizeBtn">辨識頁面</div>
    <div id="modeToggleBtn">
      <span>攝影模式</span>
      <label class="switch">
        <input type="checkbox" id="modeToggleInput" />
        <span class="slider round"></span>
      </label>
      <span>圖片上傳</span>
    </div>

    <div class="container">
      <div id="modeContainer">
        <input type="text" id="nameInput" placeholder="請輸入姓名" />
        <!-- 上傳圖片模式 -->
        <input
          type="file"
          id="fileInput"
          accept="image/*"
          style="display: none"
        />
        <button id="customFileBtn" style="display: none">選擇圖片</button>
        <!-- 攝影機模式 -->
        <button id="takePhotoBtn">拍照</button>
      </div>
      <br />
      <div id="pageContainer">
        <button id="registerBtn">註冊</button>
      </div>
    </div>
    <div class="camera-preview">
      <div>
        <canvas id="canvas"></canvas>
      </div>
      <div>
        <img id="preview" />
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/selfie_segmentation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
    <script src="{{ url_for('static', path='/register.js?v=1.0.3') }}"></script>
  </body>
</html>
